<section>
   Tarjetas de prueba
   <table class="table">
      <thead>
         <tr>
            <td>Tarjeta</td>
            <td>Número</td>
            <td>Código de seguridad</td>
            <td>Fecha de caducidad</td>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td>Mastercard</td>
            <td>5031 7557 3453 0604</td>
            <td>123</td>
            <td>11/25</td>
         </tr>
         <tr>
            <td>Visa</td>
            <td>4009 1753 3280 6176</td>
            <td>123</td>
            <td>11/25</td>
         </tr>
         <tr>
            <td>American Express</td>
            <td>3711 803032 57522</td>
            <td>123</td>
            <td>11/25</td>
         </tr>
      </tbody>
   </table>
</section>
<section class="payment-form dark">
   <div class="container__payment">
      <div class="form-payment">
         <div class="products mb-3">
            <h2 class="title">RESUMEN</h2>
            <div class="item">
               <span class="price" id="summary-price"></span>
               <p class="item-name">Descripcion: <strong>{{ data.reason }}</strong></p>
               <p>preapproval_plan_id: <strong>{{ data.id }}</strong></p>
            </div>
            <div class="total">
               Total: <strong>{{ data.auto_recurring.transaction_amount | currency: "S/" }}</strong>
            </div>
         </div>
         <div class="payment-details">
            <form id="form-checkout">
               <h3 class="title">DETALLES</h3>
               <div class="row">
                  <div class="form-group col">
                     <input id="form-checkout__cardholderEmail" name="cardholderEmail" type="email"
                        class="form-control" />
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-sm-5">
                     <select id="form-checkout__identificationType" name="identificationType"
                        class="form-control"></select>
                  </div>
                  <div class="form-group col-sm-7">
                     <input id="form-checkout__identificationNumber" name="docNumber" type="text"
                        class="form-control" />
                  </div>
               </div>
               <br>
               <h3 class="title">DETALLES TARJETA</h3>
               <div class="row">
                  <div class="form-group col-sm-8">
                     <input id="form-checkout__cardholderName" name="cardholderName" type="text" class="form-control" />
                  </div>
                  <div class="form-group col-sm-4">
                     <div class="input-group expiration-date">
                        <div id="form-checkout__expirationDate" class="form-control"></div>
                     </div>
                  </div>
                  <div class="form-group col-sm-8">
                     <div id="form-checkout__cardNumber" class="form-control"></div>
                  </div>
                  <div class="form-group col-sm-4">
                     <div id="form-checkout__securityCode" class="form-control"></div>
                  </div>
                  <div id="issuerInput" class="form-group col-sm-12 hidden">
                     <select id="form-checkout__issuer" name="issuer" class="form-control"></select>
                  </div>
                  <div class="form-group col-sm-12">
                     <select id="form-checkout__installments" name="installments" type="text"
                        class="form-control"></select>
                  </div>
                  <div class="form-group col-sm-12">
                     <input type="hidden" id="amount" />
                     <input type="hidden" id="description" />
                     <div id="validation-error-messages"></div>
                     <br>
                     <button id="form-checkout__submit" type="submit" class="btn btn-primary btn-block">PAGAR</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>
